@import 'mocha.css';

* {
    color: @text;
    font-family: "Symbols Nerd Font Mono";
    font-size: 15px;
}

/* The total waybar not the modules */
window#waybar {
    background: transparent;
}

#workspaces,
#clock,
#custom-weather,
#hardware,
#configurable,
#idle_inhibitor,
#network,
#tray {
    border-radius: 10px 10px 10px 10px;
    background: rgba(0, 0, 0, 0.5);
}

#clock,
#custom-weather,
#hardware,
#configurable,
#idle_inhibitor,
#tray {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

#clock {
    color: @green;
}

#temperature {
    color: @teal;
}

#temperature.critical {
    color: @maroon;
}

#cpu {
    color: @green;
}

#memory {
    color: @maroon;
}

#battery {
    color: @text;
}

#battery.charging {
    color: @lavender;
}

@keyframes blink {
    to {
        color: @overlay2;
        background-color: @text;
    }
}

#battery.critical:not(.charging) {
    background: @red;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    color: @yellow;
}

#pulseaudio {
    color: @pink;
}

#pulseaudio.muted {
    color: @overlay0;
}

#idle_inhibitor {
    color: @flamingo;
}

#network {
    color: @green;
}

#network.disabled,
#network.disconnected {
    color: @red;
}
