@import 'mocha.css';

* {
    color: @text;
    font-family: "Symbols Nerd Font Mono";
    font-size: 15px;
}

/* The total waybar not the modules */
window#waybar {
    background: transparent;
}

#clock,
#workspaces,
#window,
#custom-weather,
#hardware,
#configurable,
#idle_inhibitor,
#network,
#tray {
    border-radius: 10px 10px 10px 10px;
    background: rgba(0, 0, 0, 0.5);
}

#clock,
#window,
#custom-weather,
#hardware,
#configurable,
#idle_inhibitor,
#tray {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

#clock {
    color: @lavender;
}

#window {
    color: @red;
}

window#waybar.empty #window {
    color: transparent;
    background: transparent;
}

#temperature {
    color: @teal;
}

#temperature.critical {
    color: @maroon;
}

#cpu {
    color: @green;
}

#memory {
    color: @maroon;
}

#battery {
    color: @lavender;
}

#battery.charging {
    color: @green;
}

@keyframes w-blink {
    to {
        color: @lavender;
    }
}

@keyframes c-blink {
    to {
        color: @yellow;
    }
}

#battery.warning:not(.charging) {
    color: @yellow;
    animation-name: w-blink;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: 20;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: c-blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    color: @yellow;
}

#pulseaudio {
    color: @pink;
}

#pulseaudio.muted {
    color: @overlay0;
}

#idle_inhibitor {
    color: @flamingo;
}

#network {
    color: @green;
}

#network.disabled,
#network.disconnected {
    color: @red;
}
